body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 10px; /* Adjusted margin */
}

h1 {
  color: #800080; /* Purple color */
  margin-bottom: 10px; /* Adjusted margin */
}

h3 {
  color: #333;
  margin-bottom: 5px; /* Adjusted margin */
}

input {
  padding: 8px;
  margin: 5px 0; /* Adjusted margin */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%; /* Adjusted width for input fields on smaller screens */
  max-width: 300px; /* Set maximum width for input fields */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffeb3b; /* Yellow color */
  color: #333;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0; /* Adjusted margin */
  transition: background-color 0.3s;
  width: 80%; /* Adjusted width for buttons on smaller screens */
  max-width: 300px; /* Set maximum width for buttons */
}

button:hover {
  background-color: #ffc107; /* Darker yellow color on hover */
}

#new_br {
  color: #4caf50; /* Green color for the result */
  font-size: 24px;
  margin-top: 10px;
}

/* Media query for screens smaller than 600px (typical mobile devices) */
@media screen and (max-width: 600px) {
  input,
  button {
    width: 100%; /* Make input fields and buttons full-width on small screens */
    max-width: none; /* Remove maximum width on small screens */
  }
}
