body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #800080; /* Purple color */
  margin-bottom: 20px;
  font-size: 24px; /* Adjusted font size for better visibility on mobile */
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffeb3b; /* Yellow color */
  color: #333;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 300px;
}

button:hover {
  background-color: #ffc107; /* Darker yellow color on hover */
}

@media screen and (max-width: 600px) {
  button {
    width: 100%;
    max-width: none;
  }
}

