body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #800080; /* Purple color */
  margin-bottom: 10px;
  font-size: 24px; /* Adjusted font size for better visibility on mobile */
}

h3 {
  color: #333;
  margin-bottom: 5px;
}

input {
  padding: 10px; /* Adjusted padding for better visibility on mobile */
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 12px 24px; /* Adjusted padding for better visibility on mobile */
  font-size: 16px;
  background-color: #ffeb3b;
  color: #333;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 300px;
}

button:hover {
  background-color: #ffc107;
}

#new_sell {
  color: #4caf50;
  font-size: 24px; /* Adjusted font size for better visibility on mobile */
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  input,
  button {
    width: 100%;
    max-width: none;
  }
}
